In [111]:
from openpyxl import load_workbook
import pandas as pd
import matplotlib.pyplot as plt

In [85]:
import matplotlib.colors as mcolors
colors=list(mcolors.TABLEAU_COLORS.keys()) #颜色变化
selcol = lambda x: [mcolors.TABLEAU_COLORS[colors[i]] for i in range(x)]

In [2]:
%reload_ext autoreload
%autoreload 2

In [17]:
df = pd.read_excel('data/experiments.xlsx', sheet_name='step')

In [121]:
df

   p_mask  step  PR@avg  RankScore  TimeCost(s)
0     0.4    30  0.5023     0.7523          842
1     NaN    50  0.4725     0.7815          344
2     NaN    70  0.4882     0.7706          185
3     0.3    30  0.4763     0.7235          762
4     NaN    50  0.4974     0.7453          312
5     NaN    70  0.4589     0.7371          179
6     0.2    30  0.2855     0.5253          715
7     NaN    50  0.3225     0.6552          295
8     NaN    70  0.3427     0.6604          174

In [133]:
curDf = df.iloc[6:9, 1:].copy()

In [113]:
plt.rcParams["font.family"] = 'sans-serif'

In [151]:
import matplotlib
matplotlib.__version__

'3.5.2'

In [180]:
fig, ax = plt.subplots(figsize=(12, 10), dpi=1000)
curDf.plot(kind='bar', x='step', secondary_y=['TimeCost(s)'], ax=ax, color=selcol(3), rot=0, alpha=0.6)
ax.set_xlabel('Step', fontsize=25)
ax1, ax2 = plt.gcf().get_axes()
ax1.grid(axis='y', linestyle='-.')
ax1.set_ylim(0, 1)
ax1.tick_params(axis='both', which='major', labelsize=50)
ax2.set_ylim(0, 1000)
ax2.tick_params(axis='both', which='major', labelsize=50)
# # ax1.legend().remove()
# # ax2.legend().remove()
ax1.legend(curDf.columns[1:-1], loc=2, fontsize=25)
ax2.legend([curDf.columns[-1]], loc=1, fontsize=25)
# plt.show()
plt.savefig('plots/step-0.2-5:4-500.png', dpi=500)
plt.close()